html {
    background-image: url(pages/img/background/SSI/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #000000 ;
}
a{text-decoration: none; color: #000000;}
a:hover{color:red; text-shadow: 2px 2px black; font-weight: bold; transition: .5s ease;}
svg #timeline text:hover{fill: red}
svg text{fill: black}
.body-container{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 85%;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    border: 2px dashed;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    font-size: 18px;
    width: 98%;
}
.menu-container{
    position: fixed;
    top: 0%;
    width: 80%;
    font-size: 1.25em;
    left: 10%;
    height: 10%;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1000px) {
    html{background-size: 100vH 100vH;}
    body{font-size: 26px}
    .menu{flex-direction:column; font-size: 30px}
    .logo-container{width:100%; justify-content:center}
    .menu-buttons{width:100%}
    .content-container-a{flex-direction: column}
    .gallery-b{overflow: scroll}
    }
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.left-side, .right-side{ position: fixed; height: 100%;}
.left-side, .right-side{
    position: fixed;
    top: 10%;
    width: 10%;
    height: 90%;
}
.left-side{left: 0%}
.right-side{right: 0%}
.left-side-flex, .right-side-flex{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.left-side-flex{align-items: flex-start;}
.right-side-flex{align-items: flex-end;}
.left-side img, .right-side img{width: 100%;}
.license-container{
    position: fixed;
    top: 95%;
    left: 0%;
    height: 5%;
    width: 100%;
}
.license{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 75%;
}
.content-container-a, .content-container-b{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.content-container-b{flex-direction: column;}
.left-content, .right-content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-content img{width: 100%; height: 100%;}
.front-container, .middle-container, .last-container{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
}
.front-container, .middle-container{width: 33%}
.middle-container{left: 33%;}
.last-container{left: 66%; width: 34%;}
.front-container:hover, .middle-container:hover, .last-container:hover{transition: .5s ease; color: #ffffff;}
.front-container:hover{background-color: #66ff66;}
.middle-container:hover{background-color: #ff6600;}
.last-container:hover{background-color: #33ccff;}
.works-column-graffiti, .works-column-paintings, .works-column-sculptures, .works-column-installations{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 21px;
    color: black;
}
.works-column-graffiti{left: 0%}
.works-column-paintings{left: 25%}
.works-column-sculptures{left: 50%}
.works-column-installations{left: 75%}
.graffiti img, .paintings img, .sculptures img, .installations img{
    position: absolute;
    top: 14%;
    height: 85%;
    width: 24%;
    opacity: 0;
    transition: .5s ease;
    z-index: -1;
}
.graffiti img{left:.5%}
.paintings img{left:25.5%}
.sculptures img {left:50.5%}
.installations img{left:75.5%}
.works-column-graffiti:hover .graffiti img, .works-column-paintings:hover .paintings img, .works-column-sculptures:hover .sculptures img, .works-column-installations:hover .installations img{opacity:.5}
.works-column-graffiti:hover, .works-column-paintings:hover, .works-column-sculptures:hover, .works-column-installations:hover{color: red; text-shadow: 2px 2px black; transition: .5s ease}
.works-column-graffiti:hover a, .works-column-paintings:hover a, .works-column-sculptures:hover a, .works-column-installations:hover a{color: red; text-shadow: 2px 2px black;}
.works-ssi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    width: 100%;
    height: 5%;
}
.gallery-a, .gallery-b{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.gallery-a{flex-wrap: nowrap;}
.gallery-b{flex-wrap: wrap; overflow-y: scroll;}
