html {
    background: url(pages/img/background/background.png);
    background-attachment: fixed;
    background-size: cover;
}
body{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #000000 ;
}
.body-container{
    position: fixed;
    top: 10vH;
    left: 10%;
    width: 80%;
    height: 80vH;
    padding-top: 40px;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}
.menu-container{
    position: fixed;
    top: 0vH;
    width: 80%;
    font-size: 1.25em;
    left: 10%;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
.menu-buttons{
    display: flex;
    justify-content: space-around;
    width: 65%;
}
.side-bars{
    position: fixed;
    top: 0vH;
    width: 100%;
}
.left-side{
    position: fixed;
    top: 10vH;
    left: 1%;
    width: 9%;
    height: 100%;
}
.right-side{
    position: fixed;
    top: 60vH;
    right: 0px;
    width: 10%;
    height: 100%;
}
.license-container{
    position: fixed;
    top: 90vh;
    height: 9.5vH;
    width: 100%;
}
.license{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    top: 0%;
    font-size: 15px;
}
.content-container{
    display: flex;
    width: 97%;
    height: 100%;
    align-items: center;
}
.left-content{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
}
.right-content{
    display: flex;
    width: 55%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.front-container{
    position: absolute;
    left: 0%;
    width: 33%;
    top: 0%;
    height: 100%;
}
.middle-container{
    position: absolute;
    left: 33%;
    width: 33%;
    top: 0%;
    height: 100%;
}
.last-container{
    position: absolute;
    left: 66%;
    width: 34%;
    top: 0%;
    height: 100%;
}
.front-container:hover{
    background-color: #66ff66;
    transition: .5s ease;
}
.middle-container:hover{
    background-color: #ff6600;
    transition: .5s ease;
}
.last-container:hover{
    background-color: #33ccff;
    transition: .5s ease;
}