html {
    background: url(pages/img/background/SSI/background.png);
    background-attachment: fixed;
    background-size: cover;
}
body{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #000000 ;
}
.body-container{
    position: fixed;
    top: 10vH;
    left: 10%;
    width: 80%;
    height: 85vH;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}
.text-container{
    text-align: center;
    font-size: 18px;
    margin-top: -44%;
    width: 97%;
}
.menu-container{
    position: fixed;
    top: 0vH;
    width: 80%;
    font-size: 1.25em;
    left: 10%;
}
.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
.menu-buttons{
    display: flex;
    justify-content: space-around;
    width: 65%;
}
.side-bars{
    position: fixed;
    top: 0vH;
    width: 100%;
}
.left-side{
    position: fixed;
    top: 10vH;
    left: 1%;
    width: 9%;
    height: 100%;
}
.right-side{
    position: fixed;
    top: 60vH;
    right: 0px;
    width: 10%;
    height: 100%;
}
.license-container{
    position: fixed;
    top: 90vh;
    height: 9.5vH;
    width: 100%;
}
.license{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    top: 0%;
    font-size: 15px;
}
.content-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid 1px #000000;
}
.left-content{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
}
.right-content{
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.front-container{
    position: absolute;
    left: 0%;
    width: 33%;
    top: 0%;
    height: 100%;
}
.middle-container{
    position: absolute;
    left: 33%;
    width: 33%;
    top: 0%;
    height: 100%;
}
.last-container{
    position: absolute;
    left: 66%;
    width: 34%;
    top: 0%;
    height: 100%;
}
.front-container:hover{
    background-color: #66ff66;
    transition: .5s ease;
    color: #ffffff;
}
.middle-container:hover{
    background-color: #ff6600;
    transition: .5s ease;
        color: #ffffff;
}
.last-container:hover{
    background-color: #33ccff;
    transition: .5s ease;
    color: #ffffff;
}
.graffiti{
    position: absolute;
    left: 0%;
    width: 25%;
    top: 15%;
    height: 85%;
}
.paintings{
    position: absolute;
    left: 25%;
    width: 25%;
    top: 15%;
    height: 85%;
}
.sculptures{
    position: absolute;
    left: 50%;
    width: 25%;
    top: 15%;
    height: 85%;
}
.installations{
    position: absolute;
    left: 75%;
    width: 25%;
    top: 15%;
    height: 85%;
}
.graffiti img, .paintings img, .sculptures img, .installations img{
    height: 100%;
    width: 93%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.overlay-graffiti, .overlay-paintings, .overlay-sculptures, .overlay-installations{
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0%;
    height: 98.5%;
    opacity: 0;
    transition: .5s ease;
}
.graffiti:hover .overlay-graffiti{opacity: 1}
.paintings:hover .overlay-paintings{opacity: 1}
.sculptures:hover .overlay-sculptures{opacity: 1}
.installations:hover .overlay-installations{opacity: 1}